
# Node
node_modules/
npm-debug.log
package-lock.json

*.log
build
tests_build
coverage

.DS_Store
# SonarQube/SonarLint
.sonarlint/
.sonar/
.scannerwork/
sonar-report.json
sonar-scanner.log
.sonar_lock

eslint-report.json